
.card-layout {
  width: 50%;
  margin: 0 auto;
}
.card-layout .monthlyProjection {
  padding: 20px 0 0 0;
}
.card-layout .monthlyProjection .data {
  color: #c1bfbf;
  font-size: 24px;
  text-align: center;
}
.card-layout .monthlyProjection .data .text {
  font-size: 11px;
}
.card-layout .monthlyProjection .projectionImg {
  height: 160px;
  text-align: center;
  position: relative;
  top: -20px;
  left: 0px;
}
.card-layout .monthlyProjection .projectionImg .data {
  position: relative;
  top: -130px;
  font-size: 32px;
  color: black;
  margin: auto;
  width: 150px;
}
.card-layout .monthlyProjection .projectionImg .data .text {
  font-size: 14px;
  color: #666;
}
